$color-primary: #4e74ff;
$color-gray: #8c909d;
$color-dark-gray: #42444d;
$base-font-size: 14px;
$base-font-size-sm: 12px;
$base-line-height: 14px;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$page-vertical-padding: 45px;